@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html, body {margin: 0; height: 100%; overflow: hidden}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
ul {
    list-style-type: none !important;
}
.navBarTop {
    height: 4rem;
    padding: 1rem;
    color: #f0f0f0;
}
.navBarLeft {
    width: 17rem !important;
    height: 100vh;
    display: inline-block;
    overflow-y: scroll;
    color: #f0f0f0;
}
.menuToggle {
    font-size: 1.9rem;
    margin-left: 9rem;
    padding: 0.3rem;
    cursor: pointer;
}
.navBarLeft::-webkit-scrollbar {
    display: none;
}
ul li {

}
.navBar {
    width: 100%;
    padding: 0;
}
.navBarLink {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
}
.navBarItem, .dropdownItem .dropdownItemLink {
    padding: 0.5rem 0;
}
.navIcon {
    font-size: 1.6rem;
}
.navText {
    padding: 0.5rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85rem;
}
.theme-btn {
    background: transparent; /* default color */
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, transparent 50%, #cc2525 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.theme-btn:hover {
    background-position: left;
}
.dropDown {
    display: block;
}
.has-dropdown {

}